body, html{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

}
body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/images/Background5.svg'); 
    background-size: fit;
    background-color: #98DAF1;
    background-position: center;
    }

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


/*GAME STYLE :D*/

#title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    height: 25px;
    width: 500px;
    border-color: black;
    border-style: solid;
    padding: 20px;
}

#title, .options {
    font-family: "Delius Unicase", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}


#title {
    font-size: 25px;
    color: #333;
    text-align: center;
    font-family: "Delius Unicase", cursive;
    font-weight: 700;
    font-style: normal;
}

#buttons-container {

    width: 500px;	
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}

#tabs-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

#tabs-container {
    margin-bottom: 0;
}

#game-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    background: #CDABEB;
    margin: 0;
    border-radius: 25px;
    border-color: black;
    border-width: 5px;
    border-style: solid;
}

#keroppi-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: last baseline;
    width: 100%;
    height: 60%;
    background-image: url('../assets/images/Background5.svg');
    background-color: #98DAF1;
    border-bottom: 5px solid black;
    background-size: cover;
    border-radius: 20px 20px 0 0;
}

#falda-image {
    position: absolute;
    width: 120px;
    height: 90px;
    bottom: 5px;
    z-index: 1;
}

#head-image {
    position: absolute;
    width: 120px;
    height: 120px;
    bottom: 150px;
    z-index: 2;
}

#keroppi-image {
    width: 200px;
    height: 200px;
    margin-bottom: 5px;
}

.options {
    background-color: white;
    border-color: black;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    cursor: pointer;
    transition: all .2s ease-in-out; 

}

#options-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50%;
    background-color: #F6C2F3;
    border-radius: 0 0 20px 20px;
    border-top: 5px solid black;
}

#clothes-options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70%;
}

#arrows-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 20%;
}

.clothes-image {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.bubble {
    background-color: #CDABEB;
    padding: 10px;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    transition: all .2s ease-in-out; 
}

.bubble:hover, .options:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #9862c7;
}

/*Styling the arrows*/

#right-arrow, #left-arrow {
    width: 60px;
    height: 60px; 
    cursor: pointer;
    transition: all .2s ease-in-out;
}

#right-arrow:hover, #left-arrow:hover {
    transform: scale(1.1);
}

/*Media Queries
Media Querie for Mobile Devices
*/

@media (max-width: 768px) { 

  
    #game-container {
        width: 90vw;
        height: 500px;
    }

    #keroppi-image {
        width: 180px;
        height: 180px;
    }

    #falda-image {
        width: 111px;
        height: 80px;
    }

    #head-image {
        bottom: 130px;
    }

    #title {
        font-size: 20px;
    }

    #title-container, #buttons-container {
        width: 90vw;
    }

    #title-container {
        height: 30px;
        padding: 10px;
    }

    .clothes-image {
        width: 80px;
        height: 80px;
    }
    .bubble {
        padding: 5px;
    }

    body {
        background-size: cover;
        background-repeat: no-repeat;
    }
}


/*Keroppi animation*/
@keyframes jump-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateY(-9px) }
    35% { transform: translateY(-9px) rotate(17deg) }
    55% { transform: translateY(-9px) rotate(-17deg) }
    65% { transform: translateY(-9px) rotate(17deg) }
    75% { transform: translateY(-9px) rotate(-17deg) }
    100% { transform: translateY(0) rotate(0) }
  }
